html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

 /* Estilos gerais */
 body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}

.topo{
    background-color: #009688;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#criar {
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    color: black;
}

#criar:hover{
    color: #fff;
    background-color: #70ece0;
}

.topo img{
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    width: 50px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav {
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
/* Seção de login */
.section{
    height: 91vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.login-section {
    margin-left: 100px;
    width: 500px;
    text-align: center;
}

.login-section h2{
    margin-bottom: 30px;
}

.login-section input[type="text"],
.login-section input[type="password"] {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
.login-section button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #009688;
    width: 95%;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.login-section button:hover{
    background-color: #61e2d5;
    color: #fff;
}

.section img {
    border-radius: 30px; /* Arredonda todos os cantos com raio de 10px */
    max-width: 700px;
    align-items: center;
}

.img {
    padding: 100px;
}

/* Seção "Sobre Nós" */
.about-section {
    text-align: center;
}

.sobre {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.sobre p{
    width: 600px;
    font-size: 25px;
    color: #000;
    padding: 20px;
    text-align: justify;
}

.img_saiba{
    padding: 100px;
}

.img_saiba a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #009688;
    padding: 20px;
    border-radius: 30px;
}

.img_saiba a:hover{
    background-color: #61e2d5;
    color: #fff;
}

.img_saiba img{
    width: 450px;
}

/* Rodapé */
.fim{
    display: inline;
    justify-items: center;
}

.fim img{
    width: 3%;
}

.foot{
    display: inline;
    justify-items: center;
}

.foot img{
    width: 150px;
}

footer {
    background-color: #0e3a36;
    color: #fff;
    text-align: center;
    padding: 10px;
}